/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}


body {
	background-color: #ECECEC;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
}

input, select, textarea {
	font-size: 17px;
	padding: 15px;
}

.panel {
	background-color: #fff;
	width: 715px;
	margin: 25px 0 90px 15px;
	padding: 35px;
}

.panel p.title {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 800;
	padding-bottom: 50px;
}

.formWrap {
	height: 650px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.block1 div {
	display: inline-block;
}

.radioBtn {
	font-weight: 700;
	padding-right: 10px;
}

.radioBtn input, .radioBtn label  {
	cursor: pointer;
}

.block1 div:hover {
	color: #EB0029;
}

.customerInf {
	width: 308px;
}

.phoneDiv {
	border: 1px solid grey;
	width: 308px;
	padding-left: 15px;
}

.phoneInpt{
	border: none;
	outline: none;
	padding: 16px 16px 15px 0;
}

.addNews {
	font-weight: 700;
	width: 308px;
}

.addNews:hover {
	color: #EB0029;
}

.residenceInfo {
	width: 140px;
}

.deliveryInfo {
	width: 200px;
}

.surrender {
	width: 423px;
}

.surrenderInfo {
	width: 200px;
	font-style: italic;
	font-size: 14px;
}

.decorLine{
	width: 100%;
}

.submitBtm {
	width: 100%;
	background-color: #F9B3BF;
	color: #fff;
	font-size: 20px;
	font-weight: 800;
	border: none;
	padding: 10px 0;
}

.addComment{
	color: #EB0029;
	font-family: monospace; 
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

.contract {
	width: 300px;
	font-style: italic;
	font-size: 14px;
}

.commentArea {
	display: none;
	width: 100%;
	height: 100px;
}


@media screen and (max-width: 575px) {
	.panel{
		width: 100%;
		padding: 20px;
		margin: 0;
	}
	.formWrap > * {
		width: 100%;
		margin-bottom: 20px;
	}
	.customerInf, .phoneDiv{
		width: 100%;
	}

	.radioBtn {
		margin-bottom: 20px;
	}
	.formWrap {
		height: 100%;
	}
}