* {
	margin:0;
	padding: 0;
}

.mainBanner {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
	
}

.mainBanner .imgBanner {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
	-moz-transition: all ease-in-out 500ms;
	-o-transition: all ease-in-out 500ms;
	z-index: 1;
}

.mainBanner .img1 {
	right: 800px;
	background-image: url(../../resources/bannerImages/img1.jpg);
}

.mainBanner .img2 {
	right: -800px;
	background-image: url(../../resources/bannerImages/img2.jpg);
}

.mainBanner .img3 {
	right: 0px;
	background-image: url(../../resources/bannerImages/img3.jpg);
}


/*
button next prev style*/
.bannerNavi {
	width: 50px;
	height: 50px;
	top: 175px;
	position: absolute;
	opacity: 0.7;
	z-index: 2;
	cursor: pointer;

	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}

.bannerNavi:hover {
	opacity: 1;
}

.mainBanner .leftBannerNavi {
	background-image: url(../../resources/bannerImages/bannerLeft.png);
}

.mainBanner .rightBannerNavi {
	right: 0px;
	background-image: url(../../resources/bannerImages/bannerRight.png);
}