body{
	font-family: 'Open Sans', sans-serif;
}

header{
	width: 100%;
	background-color: #252C32;
	display: flex;
	height: 66px;
}


#header_nav a {
	text-decoration: none;
	padding: 12px 87px;
	font-size: 20px;
	color: #D6BF4B;

}

#header_nav a:hover{ color: #C1D3D7;

}

#header_nav ul{
	list-style-type: none;
	display: flex;
	margin: 30px auto 23px auto ;
	
}





.mainBanner {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
  }

  .mainBanner .imgBanner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	transition: all ease-in-out 1000ms;
	-webkit-transition: all ease-in-out 500ms;
	-moz-transition: all ease-in-out 1000ms;
	-o-transition: all ease-in-out 500ms;
  }

  .mainBanner #img1 {
	background-image: url(../../resources/bannerImages/img1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }

  .mainBanner #img2 {
	background-image: url(../../resources/bannerImages/img2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }

  .mainBanner #img3 {
	background-image: url(../../resources/bannerImages/img3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }
