*{
	margin:0;
	padding: 0;
}

body{
	margin-left: 160px;
	font-family: 'Open Sans', sans-serif;
	background-color: #ECECEC;
}

/*header*/

.headerNav{
	background-color: #fff;
	height: 75px;
}

.headerNav ul{
	list-style-type: none;

}

.headerNav li a, div.shopSum, .title h2, .phoneNumber div {
  display: block;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

.headerNav li {
	float: right;
	height: 75px;
}

.title {
    float: left !important;
}

.title h2 {
	color: #000;
	font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
	
}

.boxSum, .shopBasket {
	width: 110px;
}

.boxSum, .shopBasket {
	background-color: #EB0029;
	border-right: 1px #000 solid;
}

.boxSum span {
	color: #fff;
	font-size: 26px;
	font-weight: 740;
}

.fa-shopping-basket{
	font-size: 30px;
	color: #fff;

}

.phoneNumber select {
	border: none;
	font-size: 19px;
	outline: none;
	cursor: pointer;
}


.fa-phone{
	color: #000;
	font-size: 18px;
}



/*
#headerBg{
	background-color: #8D7166;
	height: 370px;
	width: 100%;
	position: relative;
}

#headerText{
	position: absolute;
	width: auto;
	height: 200px;
	font-size: 35px;
	right: 70px;
	text-align: right;
	top: 70px;

}*/

/*#headerBg button {
	background-color: #EB0029;
	color: #F9FFFF;
	font-weight: 550;
	outline: none;
	padding: 10px 18px;
	position: absolute;
	top: 260px;
	right: 70px;
	box-shadow: 5px 5px 10px #000;
	cursor: pointer; 
}*/

.textLogo {
	font-size: 45px;
	color: #fff;
	font-style: italic;

}



/*Filter*/

#filter{
	display: flex;
	margin: 30px auto 30px 5px;
}

.pizzaFilter{
	border: 1px solid #000;
	padding: 15px 10px;
	cursor: pointer;
	color: #767676;
	font-size: 20px;
	font-weight: 600;

 }

.pizzaFilter:hover{
	background-color: #fff;
	color: #000000;
}

#filterText{
	padding: 15px 10px;
	font-size: 24px;
}



/*Sidebar*/

aside {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  
}


.logo img {
	height: 130px;
	width: 100%;
}

.sideNav a {
  padding: 10px 18px ;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  
}

.sideNav a:hover {
	background-color: #EB0029;
}

aside li a span{
	opacity: 0;
}

aside li a:hover span {
	opacity: 1;
}

.sideNav .icon{
	display: block;
	margin:0 auto;
	height: 50px;
}

.sideNav li:hover .icon {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.sideNav li span{
	display: block;
	margin: 10px 0 auto;
	text-align: center;
	font-size: 18px;
}

/*Socials Sidebar*/

.socials{
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
}

.fab, .far{
	color: white;
	font-size: 20px;
	padding: 7px;
}


/*Our Team style*/
.ourTeam .teamTitle {
	text-align: center;
	margin-bottom: 40px;
	font-size: 35px;
	background-color: #EB0029;
	color: #fff;
	padding: 10px;
	text-shadow: 2px 2px 0px  #000;

}

.mainCircule {
	box-sizing: border-box;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin-bottom: 30px;
	position: absolute;
	background-color: #000;	

}

.smallCircule:hover {
	background-color: #fff; 
}

.smallCircule .appLink {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;

}

.smallCircule .fa-instagram {
	font-size: 22px;
	font-weight: 600;
}

.teamItem1 {
	left: 20%;
	border: 2px solid #4DB995;
}

.teamItem2 {
	left: 47%;
	border: 2px solid #126EBC;
}

.teamItem3 {
	right: 10%;
	border: 2px solid #AFBC78;
}

.tperson1 {
	width: 220px;
	height: 220px;
	position: absolute;
	border-radius: 100%;
	top: 5%;
}

.facebook, .twitter, .in, .google {
	width: 40px;
	height: 40px;
	border: 2px solid #4DB995;
	border-radius: 100%;
	position: absolute;
	background-color: #000;
	text-align: center;

}

.teamItem3 .smallCircule {
	border: 2px solid #F2AA00;
}

.teamItem2 .smallCircule {
	border: 2px solid #126EBC;
}



/*position app*/

.facebook {
	right: 10%;
}

.twitter {
	right: -7%;
	top: 25%;
}

.in {
	right: -8%;
	top: 56%;
}

.google {
	right: 10%;
	top: 80%;
}

.teamItem1 .fab {
	z-index: 1;
	color: #4DB995;
}

.teamItem2 .fab {
	z-index: 1;
	color: #126EBC;
}

.teamItem3 .fab {
	z-index: 1;
	color: #F2AA00;
}



/*pizza item styles*/
.pizzaContainer {
	width: 300px;
	height: 300px;
	position: relative;
	overflow: hidden;
}

.pizzaContainer:hover .pizzaInfo{
	bottom: 15%;
}
.pizzaContainer:hover .pizzaNavi{
	bottom: 0px;
}

.pizzaContainer div {
	position: absolute;
	transition: all ease-in-out 300ms;
	-webkit-transition: all ease-in-out 300ms;
	-moz-transition: all ease-in-out 300ms;
	-o-transition: all ease-in-out 300ms;
}

.pizzaImg {
	width: 100%;
	height: 100%;
	background-image: url(../../resources/pizzaItem/pizza1.jpg);
	background-position: center;
	background-size: cover;
}

.pizzaInfo {
	bottom: 0px;
	width: 100%;
	height: 35%;
	opacity: 0.8;
	background-color: black;
}

.pizzaContainer div p {
	color: white;
	position: absolute;
}

.pizzaConfig {
	margin: 15px;
	font-size: 10px;
}

.pizzaPrice {
	right: 0;
	top: 0;
	margin: 15px;
	font-size: 15px;
}

.pizzaTitle {
	font-size: 25px;
	margin-top: 30px;
	margin-left: 13px;
}

.pizzaDesc {
	font-size: 15px;
	margin-top: 60px;
	margin-left: 13px;
}

.pizzaNavi {
	bottom: -15%;
	width: 100%;
	height: 15%;
	background-color: rgb(238, 98, 88);
}

.pizzaNavi p {
	font-size: 30px;
	position: absolute;
}

.pizzaNavi p, label{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
 }

.decCount {
	left: 10px;
}

.incCount {
	left: 80px;
	top: 3px;
}

.pizzaNavi div {
	position: absolute;
	left: 33px;
	top: 7px;
	width: 30px;
	height: 30px;
	background-color: black;
}

.count {
	position: absolute;
	font-size: 25px;
	color: white;
	left: 7px;
}

.naviButton {
	cursor: pointer;
}

.naviButton:hover {
	color: black;
}

.pizzaContainer div .price {
	right: 0px;
	top: 13px;
	right: 15px;
	font-size: 20px;
}

.shopBasket div {
	position: absolute;
	color: white;
	font-size: 15px;
	margin-left: 30px;
	margin-top: -15px;
	background-color: black;
	border-radius: 50%;
	width: 15px;
	height: 20px;
}


footer {
	padding-top: 250px;
	width: 100%;
	height: 550px;
}

footer .wrap {
	width: 100%;
	height:100%;
	background-color: #000;
}

.newsLetter {
	height: 100px;
	width: 100%;
	background-color: #EB0029;
	padding-top: 70px;
	
}

footer .wrap .mailChimp {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style: none;
}

.mailChimp li h2 {
	color: #fff;
	font-size: 35px;
	padding-left: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.mailChimp li h2 .fa-envelope {
	padding-right: 10px;

}


.mailChimp li p {
	padding-right: 40px;
	color: #fff;
	font-size: 18px;
	padding-bottom: 20px;	
}

.mailChimp li form .newsEmail {
    width: 300px;
    height: 50px;
    color: #999;
    background: #fff;
    border-radius: 25px;
    border: none;
    padding: 0 25px;
    outline: none;
}

.mailChimp li form .submitButtom {
	background-color: #EB0029;
	height: 50px;
    color: #fff;
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 0 25px;
    width: 120px;
    font-size: 18px;
    outline: none;
}

.footerInfo {
	height: 300px;
}
.footerInfo .about {
	width: 350px;
	height: 100%;
}

.footerInfo .about .title {
	font-size: 22px;
	color: #E6E6E6;
	padding: 20px 0;
}

.footerInfo .about .subtitle {
	color: #E6E6E6;
	word-wrap: break-word;
}

.about img {
	width: 100%;
}





