*{
	margin:0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

header{
	background-color: #252C32;
	height: 66px;

}

#header_nav{
	height: 66px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


#header_nav a {
	text-decoration: none;
	font-size: 20px;
	color: #D6BF4B;



}

#header_nav a:hover{ color: #C1D3D7;

}




	






.mainBanner {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
  }

  .mainBanner .imgBanner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	transition: all ease-in-out 1000ms;
	-webkit-transition: all ease-in-out 500ms;
	-moz-transition: all ease-in-out 1000ms;
	-o-transition: all ease-in-out 500ms;
  }

  .mainBanner #img1 {
	background-image: url(../../resources/bannerImages/img1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }

  .mainBanner #img2 {
	background-image: url(../../resources/bannerImages/img2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }

  .mainBanner #img3 {
	background-image: url(../../resources/bannerImages/img3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  }
