* {
	margin: 0px;
}

.sideBar {
	width: 200px;
	height: 100%;
	background-color: black;
}

.emblem {
	width: 200px;
	height: 200px;
	background-image: url("../../resources/sideBarImages/logo.png");
}

.sideBar ul {
	position: relative;
	width: 200px;
	padding: 0px;
	list-style: none;
}

.sideBar ul:hover {
	cursor: pointer;
}

.sideBar ul li {
	display: flex;
	font-size: 30px;
	padding: 10px 0px;
}

.sideBar ul li nav {
	margin: auto 0;
	color: white;
}

.sideBar ul li .icon {
	width: 50px;
	height: 50px;
	background-size: cover;
	margin: 10px;
}

.sideBar ul li:hover {
	background-color: rgb(230, 84, 84);
}

.sideBar ul li .pizza {
	background-image: url("../../resources/sideBarImages/pizzaIcon.png");
}

.sideBar ul li .baverages {
	background-image: url("../../resources/sideBarImages/baverageIcon.png");
}

.sideBar ul li .salades {
	background-image: url("../../resources/sideBarImages/saladeIcon.png");
}