*{
	margin:0;
	padding: 0;
}

body{
	margin-left: 160px;
	font-family: 'Open Sans', sans-serif;
	background-color: #ECECEC;
}

a {
	text-decoration: none;
	color: inherit;
}
/*header*/

.headerNav{
	top: 0px;
	width: calc(100% - 160px);
	position: fixed;
	background-color: #fff;
	height: 75px;
	z-index: 3;

	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
	-moz-transition: all ease-in-out 500ms;
	-o-transition: all ease-in-out 500ms;
}

.headerNav ul{
	list-style-type: none;

}

.headerNav .shopBasket a, div.shopSum, .title h2, .callBack {
  display: block;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

.headerNav li {
	float: right;
	height: 75px;
}

.textLogo {
	font-size: 45px;
	color: #fff;
	font-style: italic;
}

.title {
    float: left !important;
}

.title h2 {
	color: #000;
	font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.boxSum, .shopBasket {
	width: 110px;
}

.boxSum, .shopBasket {
	background-color: #EB0029;
	border-right: 1px #000 solid;
}

.shopBasket div {
	position: absolute;
	color: white;
	font-size: 15px;
	margin-left: 30px;
	margin-top: -15px;
	background-color: black;
	border-radius: 50%;
	width: 15px;
	height: 20px;
}

.boxSum span {
	color: #fff;
	font-size: 26px;
	font-weight: 740;
}

.fa-shopping-basket {
	font-size: 30px;
	color: #fff;
}

.headerNav .fa-phone {
	color: #000;
	font-size: 25px;
	cursor: pointer;
	display: none;
	margin-top: 22px;
    float: right;
    margin-right: 25px;
}

/*CallBack in navigation*/

.callBack {
	padding-right: 80px;
}

.callBack .div-contact {
	display: inline-block;
	position: relative;
}

.callBack .div-contact p {
	color: #A1A1A1;
}

.callBack .div-contact .number {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
}

.callBack .div-contact .fa-clock {
	padding: 0;
	margin-right: 5px;
	color: #A1A1A1;
	font-size: 14px;
}

.callBack .div-contact .dropdown-arrow {
	position: absolute;
	top: 50%;
	margin-top: -16.25px;
	right: -46px;
}

.callBack .div-contact .dropdown-arrow .fa-sort-down, .dropdown-arrow .fa-sort-up {
	font-size: 26px;
	cursor: pointer;
}

.callBack .div-contact .dropdown-arrow .fa-sort-down:hover {
	color: #EB0029;
}

.callBack .div-contact .dropdown {
	display: none;
	position: absolute;
	width: 190px;
	background-color: white;
	padding: 10px;
}
.div-contact .dropdown .line-separator, .div-contact .dropdown form .callback-number  {
	margin: 10px 0;
}

.div-contact .dropdown form .callback-number {
	box-sizing: border-box;
	width: 100%;
	padding: 15px;
	font-size: 17px;
	outline: none;
}

.div-contact .dropdown form .submit-btn {
	padding: 14px;
	width: 100%;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	background-color: #EB0029;
	border: none;
}


@media screen and (max-width: 768px) {
	.callBack select, .main-sidebar {
		display: none;
	}

	body {
		margin-left: 0;
	}

	header .headerNav {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.headerNav .fa-phone {
	display: inline-block;
	}
	.headerNav .callBack {
	display: none;
	}

	.headerNav .boxSum {
		display: none;
	}
}

/*Filter*/

.filter{
	display: flex;
	margin: 40px;
}

.pizzaFilter {
	display: flex;
	align-items: center;
	border: 1px solid #000;
	padding: 15px 10px;
	cursor: pointer;
	color: #767676;
	font-size: 20px;
 }

.pizzaFilter:hover{
	background-color: #fff;
	color: #000000;
}

.pizzaFilter i {
	font-size: 30px;
	margin-right: 8px;
}

#filterText{
	padding: 15px 10px;
	font-size: 22px;
	text-transform: uppercase;
}

@media screen and (max-width: 991px) {
	.pizzaFilter span, #filterText {
		display: none;
	}

}


/*Sidebar*/

aside {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


.logo img {
	height: 130px;
	width: 100%;
}

.sideNav a {
  padding: 10px 18px ;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;

}

.sideNav a:hover {
	background-color: #EB0029;
}

aside li a span{
	opacity: 0;
}

aside li a:hover span {
	opacity: 1;
}

.sideNav .icon{
	display: block;
	margin:0 auto;
	height: 50px;
}

.sideNav li:hover .icon {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.sideNav li span{
	display: block;
	margin: 10px 0 auto;
	text-align: center;
	font-size: 20px;
}

/*Socials Sidebar*/

.socials{
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
}

.fab, .far{
	color: white;
	font-size: 20px;
	padding: 7px;
}


/*Our Team style*/
.ourTeam .teamTitle {
	text-align: center;
	margin: 40px 0;
	font-size: 35px;
	background-color: #EB0029;
	color: #fff;
	padding: 10px;
	text-shadow: 2px 2px 0px  #000;
}

.ourTeam .mainCircule {
	box-sizing: border-box;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin-bottom: 30px;
	position: absolute;
	background-color: #000;
}

 .ourTeam .mainCircule .personal {
	width: 100%;
	position: absolute;
	top: 260px;
	text-align: center;
}

.ourTeam .mainCircule .personal > *{
	margin-bottom: 8px;
}

.mainCircule .personal .personal-name {
	text-transform: uppercase;
	font-size: 26px;
}

.mainCircule .personal .work-title {
	font-size: 21px;
}

.mainCircule .personal .personal-info {
	font-size: 18px;
}

.ourTeam .mainCircule .smallCircule:hover {
	background-color: #fff;
}

.ourTeam .mainCircule .smallCircule .appLink {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;

}

.ourTeam .mainCircule .smallCircule .fa-instagram {
	font-size: 22px;
	font-weight: 600;
}

.ourTeam .teamItem1 {
	left: 20%;
	border: 2px solid #4DB995;
}

.ourTeam .teamItem2 {
	left: 47%;
	border: 2px solid #126EBC;
}

.ourTeam .teamItem3 {
	right: 10%;
	border: 2px solid #AFBC78;
}

.ourTeam .mainCircule .team-member-photo {
	width: 220px;
	height: 220px;
	position: absolute;
	border-radius: 100%;
	top: 5%;
}

 .mainCircule .facebook,  .mainCircule .twitter,  .mainCircule .in,  .mainCircule .google {
	width: 40px;
	height: 40px;
	border: 2px solid #4DB995;
	border-radius: 100%;
	position: absolute;
	background-color: #000;
	text-align: center;

}

.ourTeam .teamItem3 .smallCircule {
	border: 2px solid #F2AA00;
}

.ourTeam .teamItem2 .smallCircule {
	border: 2px solid #126EBC;
}



/*position app*/

.ourTeam .mainCircule .facebook {
	right: 10%;
}

.ourTeam .mainCircule .twitter {
	right: -7%;
	top: 25%;
}

.ourTeam .mainCircule .in {
	right: -8%;
	top: 56%;
}

.ourTeam .mainCircule .google {
	right: 10%;
	top: 80%;
}

.ourTeam .teamItem1 .fab {
	z-index: 1;
	color: #4DB995;
}

.ourTeam .teamItem2 .fab {
	z-index: 1;
	color: #126EBC;
}

.ourTeam .teamItem3 .fab {
	z-index: 1;
	color: #F2AA00;
}

/*FOOTER*/

footer {
	padding-top: 415px;
	width: 100%;
	height: 600px;
}

footer .wrap {
	width: 100%;
	height:100%;
	background-color: #000;
}

footer .wrap .newsLetter {
	background-color: #EB0029;
	padding: 65px 50px;
}

footer .wrap .mailChimp {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	list-style: none;
}

.mailChimp li h2 {
	color: #fff;
	font-size: 35px;
	padding-left: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.mailChimp li h2 .fa-envelope {
	padding-right: 10px;
}

.mailChimp li p {
	padding-right: 40px;
	color: #fff;
	font-size: 18px;
	padding-bottom: 20px;
}

.mailChimp li form .newsEmail {
    width: 300px;
    height: 50px;
    color: #999;
    background: #fff;
    border-radius: 25px;
    border: none;
    padding: 0 25px;
    outline: none;
}

.mailChimp li form .submitButtom {
	background-color: #EB0029;
	height: 50px;
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 0 25px;
    width: 120px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.mailChimp li form .submitButtom:hover {
	color: #EB0029;
	background-color: #fff;
}

.footerInfo {
	height: 300px;
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}

.footerInfo .about {
	width: 350px;
	height: 100%;
}

.footerInfo .title {
	font-size: 22px;
	color: #E6E6E6;
	padding: 20px 0;
	width: 100%;
}

.footerInfo .about .subtitle {
	color: #E6E6E6;
	word-wrap: break-word;
	text-align: center;
}

.footerInfo .about .award {
	width: 180px;
	height: 150px;
	display: block;
  	margin: 0 auto;
  	padding-bottom: 10px;
}

/*footer infomation*/

.infomation ul a{
	color: #E6E6E6;
	padding-bottom: 2px;
}

.infomation ul a:hover {
	border-bottom: 2px solid  #E6E6E6;
}

.infomation ul li {
  list-style: none;
  padding-bottom: 19px;

}

.infomation ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #EB0029; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


/*footer instagram*/
.footerInfo .instagram{
	width: 415px;
}
.instagram .instagramPhoto {
	width: 415px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.instagram .instagramPhoto .instagItem {
	width: 125px;
	height: 90px;
	margin-bottom: 13px;
	border: 2px solid #fff;
	transition: all ease-in-out 400ms;
	-webkit-transition: all ease-in-out 400ms;
	-moz-transition: all ease-in-out 400ms;
	-o-transition: all ease-in-out 400ms;
}

.instagramPhoto .instagItem:hover {
	transform: scale(1.5);
}

#map {
	width: 300px;
	height: 200px;
}

.comeToUs{
	width: 305px;
}

footer .payMethod {
	height: 60px;
	display: flex;
	padding: 10px 0;
	align-items: center;
}

footer .payMethod .subtitle{
	color: #fff;
	font-size: 22px;
	padding: 0 5px 0 20px;
}

footer .payMethod img{
	width:50px;
	padding: 0 15px;
}

footer .copyRight {
	height: 30px;
	background-color: #111111;
	color: #fff;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .copyRight a {
	text-decoration: none;
	color: #EB0029;
}

footer .copyRight p {
	display: inline-block;
}

footer .copyRight .copyItems  {
	padding: 0 20px;
}



