* {
	margin: 0;
	padding: 0;		
}

html, body {
	height: 100%;
}

.basketForm {
	float: left;
	position: relative;

	width: 30%;
	height: 100%;
	background-color: darkgray;
}

.basketForm .basketHead {
	width: 100%;
	height: 80px;
	background-color: darkseagreen;

	align-items: center;
	display: flex;
}

.basketForm .basketHead span {
	font-weight: bold;
	margin-left: 10px;
	font-size: 50px;
}

.basketForm .basketHead .closeIcon {
	position: relative;
	right: -60%;
	width: 50px;
	height: 50px;
	background-size: 100%;
	background-image: url(../../resources/basketForm/close.png);
}

.basketForm .basketHead .closeIcon:hover {
	/* background-color: red; */
	cursor: pointer;
}




.basketForm .basketBottom {
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: green;
	font-size: 30px;
}

.basketForm .basketBottom .orderPrice {
	float: left;
	height: 100%;
	width: 100px;
	background-color: black;

	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	
	justify-content: center;
	align-items: center;
}

.basketForm .basketBottom .orderPrice span {
	color: white;
}

.basketForm .basketBottom .orderAction {
	height: 100%;
	background-color: yellow;

	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	
	justify-content: center;
	align-items: center;
}

.basketForm .basketBottom .orderAction {
	cursor: pointer;
}





.basketForm .basketBody {
	overflow: auto;
	height: calc(100% - 160px);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.basketForm .basketBody ul{
	list-style: none;
}

.basketForm .basketBody ul li {
	font-size: 70px;
}







.pizzaItem {
	width: 100%;
	height: 150px;
	background-color: aqua;
}

.pizzaItem .pizzaImage {
	width: 120px;
	height: 120px;
	float: left;
	margin: 14px;
	background-size: 100%;
	background-image: url(../../resources/pizzaItems/pizza1.jpg);
}

.pizzaItem .editInfoItem {
	float: left;
	margin: 14px;
}

.pizzaItem .editInfoItem span {
	display: flex;
	font-size: 20px;
}

.pizzaItem .editInfoItem .pizzaItemNavi1 {
	position: relative;
	height: 125px;
}

.pizzaItem .editInfoItem .deleteItem {
	position: absolute;
  	bottom: 0px;
}

.pizzaItem .editInfoItem .deleteItem:hover {
	color: red;
	cursor: pointer;
}

.pizzaItem .editInfoItem .pizzaItemNavi1 div {
	position: absolute;
	display: flex;
	right: -40px;
}

.pizzaItem .editInfoItem .pizzaItemNavi1 div div {
	width: 30px;
	height: 30px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.pizzaItem .editInfoItem .pizzaItemNavi1 div div span {
	position: absolute;
	left: 8px;
}

.pizzaItem .editInfoItem .pizzaItemNavi1 div span {
	font-size: 25px;
	font-weight: bold;
	position: absolute;
}

.pizzaItem .editInfoItem .pizzaItemNavi1 .decCount {
	right: 5px;
}

.pizzaItem .editInfoItem .pizzaItemNavi1 .incCount {
	right: -60px;	
	top: 2px;	
}

.pizzaItem .editInfoItem .pizzaItemNavi1 .decCount:hover, .incCount:hover {
	color: red;
	cursor: pointer;
}
