/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.basketForm {
	width: 500px;
	height: 100%;
}

.basketForm .basketHead {
	width: 100%;
	height: 80px;
	padding: 25px;
	background-color: #F5F5F5;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.basketForm .basketHead span {
	color: #000;
	font-size: 24px;
    font-weight: 900;
	text-transform: uppercase;
}

.basketForm .basketHead .closeIcon:hover {
	color: #EB0029; 
	cursor: pointer;
}

.basketForm .basketBody{
	overflow: auto;
	width: 100%;
	height: calc(100% - 140px);
}

.basketForm .basketBody ul li{
	margin-bottom: 12px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.basketBody ul{
	padding: 12px;
}

.basketBody ul .pizzaItem {
	position: relative;
	width: 100%;
	height: 100%;
}

.pizzaItem .pizzaImage {
	position: absolute;
    top: 0;
    left: 0;
	width: 100px;
	height: 100px;
}

.pizzaItem .editInfoItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-left: 120px;
}

.pizzaItem .editInfoItem span{
	padding-bottom: 10px;
}

.pizzaItem .editInfoItem .pizzaItemTitle, .pizzaItem .editInfoItem .deleteItem  {
	font-weight: bold;
	font-size: 20px;
}

.pizzaItem .editInfoItem .pizzaItemTitle {
	margin-right: 70px;
}

.pizzaItem .editInfoItem .pizzaItemPrice {
	font-weight: 900;
	font-size: 18px;
	color: #EB0029;
}

.pizzaItem .editInfoItem .ingredients {
 	font-size: 17px;
}

.pizzaItem .editInfoItem .deleteItem {
	font-weight: 600;
	font-size: 16px;
	color: #EB0029;
	cursor: pointer;
}

.pizzaItem .divCount {
	position: absolute;
    top: 0;
    right: 0;
}

.pizzaItem .divCount div {
	text-align: center;
	display: inline-block;
	font-size: 20px;
}

.pizzaItem .divCount .decCount {
	font-size: 32px;
}

.pizzaItem .divCount .incCount {
	font-size: 26px;
}

.pizzaItem .divCount .numbCount {
	border: 1px solid #000;
	width: 30px;
	height: 30px;
	padding: 5px;
}

.pizzaItem .divCount .decCount:hover, .incCount:hover {
	color: red;
	cursor: pointer;
}

.basketForm .basketBottom {
	width: 100%;
	height: 60px;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
}

.basketForm .basketBottom .orderPrice {
	float: left;
	height: 100%;
	width: 100px;
	background-color: black;

	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex;  NEW - Safari 6.1+. iOS 7.1+, BB10 
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

	justify-content: center;
	align-items: center;
}

.basketForm .basketBottom .orderPrice span {
	color: white;
}

.basketForm .basketBottom .orderAction {
	height: 100%;
	color: white;
	background-color: #EB0029;
	cursor: pointer;

	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

	justify-content: center;
	align-items: center;
}



@media screen and (max-width: 575px) {
	.basketForm {
	width: 100%;
}
.pizzaItem .pizzaImage{
    width: 90px;
    height: 90px;
}
.pizzaItem .editInfoItem {
	padding-left: 100px;
}

.basketForm .basketHead {
	height: 60px;
}

.basketForm .basketHead span {
	font-size: 18px;
}

.basketForm .basketBottom {
	height: 50px;
	font-size: 20px;
	font-weight: 700;
}

.basketForm .basketBody{
	height: calc(100% - 110px);
}


}